web2py/applications/duty_calls/private/conf.json
*.pyc
.DS_Store
web2py/httpserver.log
web2py/httpserver.pid
google_appengine
web2py/applications/duty_calls/databases
web2py/parameters_8000.py
.idea/
