{{extend 'layout.html'}}

<h1>Locations</h1>

<table>
    <tr>
        <td>Name</td>
        <td>Forwarding Number</td>
        <td>Currently On Duty</td>
        <td>Forwarding Destinations</td>
        <td>Fail Name</td>
        <td>Fail Number</td>
    </tr>
    {{for loc in locations:}}
        <tr>
            <td>{{=loc.location_name}}</td>
            <td>{{=loc.twilio_number}}</td>
            <td>{{=loc.current_on_duty}}</td>
            <td>{{=loc.current_forwarding_destinations}}</td>
            <td>{{=loc.fail_name}}</td>
            <td>{{=loc.fail_number}}</td>
        </tr>
    {{pass}}
</table>
