{{extend 'layout.html'}}

<!-- Show specific location -->
{{ if len(locations) == 1:
    location=locations[0]
}}
    <h1><small>{{=locations[0].location_name}}</small></h1>

    Forwarding Number: {{=location.twilio_number}}<br>
    Currently On Duty: {{=location.current_on_duty}}<br>
    Current Forwarding Destinations: {{=location.current_forwarding_destinations}}<br>
    Fail Name: {{=location.fail_name}}<br>
    Fail Number: {{=location.fail_number}}<br>
    Is Res Life: {{=location.is_res_life}}<br><br>
    
    <form name='remove_users' method=POST action='{{=location.location_name}}/remove'>
    
        <table>
            <tr>
                <td></td>
                <td>Name:</td>
                <td>Phone:</td>
                <td>Email:</td>
            </tr>
                {{ for user in users: }}
                    <tr>
                        <td><input type='checkbox' name='remove_ids' value='{{=user.id}}'>
                        <td>{{=user.first_name}} {{=user.last_name}}</td>
                        <td>{{=user.phone}}</td>
                        <td>{{=user.email}}</td>
                    </tr>
                {{ pass }}
        </table>
        <input type='submit' value='Remove selected users'>
    </form>
    
    <hr>

    <form name='dummy-form'>
        <a href='#' onclick="toggleAddUser('{{=location.location_name}}')">+Add Users to this Location</a>
    </form>
    <div id='add-user-div' style='display:none;'>
        <table id='add-user-list'>
            <thead><tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>ID</th>
            </tr></thead>
            <tbody>
            </tbody>
        </table><br><br>
        <form name='add_users' id='add_users' onsubmit='addSelectedUsers();' method=POST action='{{=location.location_name}}/add'>
            <input type='submit' value='Add Selected Users'>
        </form>
    </div>

<!-- Show all locations -->
{{ else: }}
    <h1>Locations</h1>

    <table>
        <tr>
            <td>Name</td>
            <td>Forwarding Number</td>
            <td>Currently On Duty</td>
            <td>Forwarding Destinations</td>
            <td>Fail Name</td>
            <td>Fail Number</td>
            <td>Is Res Life?</td>
        </tr>
        {{for loc in locations:}}
            <tr>
                <td><a href='/duty_calls/admin/locations/{{=loc.location_name}}'>{{=loc.location_name}}</a></td>
                <td>{{=loc.twilio_number}}</td>
                <td>{{=loc.current_on_duty}}</td>
                <td>{{=loc.current_forwarding_destinations}}</td>
                <td>{{=loc.fail_name}}</td>
                <td>{{=loc.fail_number}}</td>
                <td>{{=loc.is_res_life}}</td>
            </tr>
        {{pass}}
    </table>
{{pass}}
