{{extend 'layout.html'}}
    
<table>
    <tr>
        <th>Location</th>
        <th>Forwarding Number</th>
        <th>Currently On Duty</th>
        <th>Is Res Life</th>
        <th>Fail Name</th>
        <th>Fail Number</th>
    </tr>
    
    {{ for loc in ret: }}
        <tr>
            <td>
                <a href="{{=URL('admin', 'locations', args=(loc.location_name))}}">{{=loc.location_name}}</a>
            </td>
            <td>{{=loc.twilio_number}}</td>
            <td>
                {{ for name in loc.current_on_duty: }}
                    {{=name + ", "}}
                {{ pass }}
            </td>
            <td>{{=loc.is_res_life}}</td>
            <td>{{=loc.fail_name}}</td>
            <td>{{=loc.fail_number}}</td>
        </tr>
    {{ pass }}
</table>
